.App {
  /* placement */

  /* shape */
  min-height: 100vh; /* grab all the screen real estate*/
  padding: 2em 1em;

  /* color */
  background-color: var(--palette-secondary-500);
  color: white;
}

a {
  color: inherit;
  font-weight: 800;
  text-decoration: none;
  font-size: xx-large;
}

main {
  margin: var(--spacing-huge);
}